/* Custom properties ( variables de css) */
:root {
	--blanco: #ffffff;
	--primario: #ffc107;
	--secundario: #0097a7;
	--gris: #757575;
	--oscuro: #212121;
}
/* Globales */
html {
	font-size: 62.5%;
	box-sizing: border-box; /*  https://www.paulirish.com/2012/box-sizing-border-box-ftw/ hack para el boxmodel */
}
/*  https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/*  '*': selecciona todos los elementos del html, la coma ','  se usa para nombrar varios elementos con las mismas caracterisitcas */
/* before y after son pseudo elementos */
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 16px; /* 1 rem = 10px */
	font-family: 'Krub', sans-serif; /* aplica la fuente en toda la pagina  */
}

/* Tipografia */
h1 {
	font-size: 3.8rem; /* 1 rem = 10px */
}
h2 {
	font-size: 2.8rem; /* 1 rem = 10px */
}
h3 {
	font-size: 1.8rem; /* 1 rem = 10px */
}

h1,
h2,
h3 {
	text-align: center;
}

/* titulos */
.titulo span {
	font-size: 2rem;
}

.contenedor {
	max-width: 120rem; /* se usa para evitar el scroll cuando se adapta el tmaño */
	/*se pone auto para centralizar la nav */
	margin: 0 auto; /* en margin se define como rigth top left bottom */
}
.boton {
	background-color: var(--secundario);
	color: var(--blanco);
	padding: 1rem 3rem;
	margin-top: 3rem;
	font-size: 2rem;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 0.5rem;
	width: 90%; /* toma el tamaño de la pantalla cuando es reponsive */
	text-align: center;
}
@media (min-width: 768px) {
	.boton {
		width: auto;
	}
}
/* Navegacion principal */
.nav-bg {
	background-color: var(--secundario);
}

.navegacion-principal {
	/* flexbox */
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* resonsive con media queries */
/* 768 es para una tablet -- 468 celular */
@media (min-width: 768px) {
	.navegacion-principal {
		flex-direction: row;
		justify-content: space-between; /* inidicamos que se separen usando la propiedad space */
	}
}

.navegacion-principal a {
	color: var(--blanco);
	padding: 1rem; /* agrega mas espacio de afuera hacia adentro */
	font-size: 2rem;
	font-weight: bold; /* se pone en negritas */
	text-decoration: none;
}

/* se cambia el color cuando se pone el cursor */
.navegacion-principal a:hover {
	background-color: var(--primario);
	color: var(--oscuro);
}

/* agrega la imagen */
.hero {
	background-image: url('../img/hero.jpg');
	background-repeat: no-repeat; /* evita que se repita la imagen */
	background-size: cover; /* adapta la imagen al espacio */
	height: 450px;
	/* padding: 20px; se baja el texto: el padding total da 40px */
	position: relative; /* como es el padre debe ponersele realtive */
}
.contenido-hero {
	position: absolute;
	/** background-color: rgba(0, 0, 0, 0.6);  transparencia es el ultimo valor del rgba (sintaxis anterior) **/
	background-color: rgb(0 0 0 / 70%); /** transparencia nueva sintaxis **/
	/* toma todo el espacio disponible */
	width: 100%;
	height: 100%;

	/* alineacion de los elementos */
	display: flex;
	flex-direction: column;
	/* alinea horizontal y vertical */
	align-items: center;
	justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
	color: var(--blanco);
}
.contenido-hero .ubicacion {
	display: flex; /* pone uno al lado del otro */
	align-items: flex-end;
}

/* el punto . es para las calses

   el # es para los ids


*/
