/* Custom properties ( variables de css) */
:root {
	--blanco: #ffffff;
	--primario: #ffc107;
	--secundario: #0097a7;
	--gris: #757575;
	--oscuro: #212121;
}

html {
	font-size: 62.5%;
     box-sizing: border-box; /*  https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
}
/*  https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/*  '*': selecciona todos los elementos del html, la coma ','  se usa para nombrar varios elementos con las mismas caracterisitcas */
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-size: 16px; /* 1 rem = 10px */
	font-family: 'Krub', sans-serif; /* aplica la fuente en toda la pagina  */
}

.titulo {
	/* color: var(--blanco); */
	font-size: 3.8rem; /* 1 rem = 10px */
	text-align: center;
}

.titulo span {
	font-size: 2rem;
}

.contenedor {
	max-width: 120rem; /* se usa para evitar el scroll cuando se adapta el tmaño */
	/*se pone auto para centralizar la nav */
	margin: 0 auto; /* en margin se define como rigth top left bottom */
}
.nav-bg {
	background-color: var(--secundario);
}

.navegacion-principal {
	/* flexbox */
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* resonsive con media queries */
/* 768 es para una tablet -- 468 celular */
@media (min-width: 768px) {
	.navegacion-principal {
		flex-direction: row;
		justify-content: space-between; /* inidicamos que se separen usando la propiedad space */
	}
}

.navegacion-principal a {
	color: var(--blanco);
	padding: 1rem; /* agrega mas espacio de afuera hacia adentro */
	font-size: 2rem;
	font-weight: bold; /* se pone en negritas */
	text-decoration: none;
}

/* se cambia el color cuando se pone el cursor */
.navegacion-principal a:hover {
	background-color: var(--primario);
	color: var(--oscuro);
}

/* agrega la imagen */
.hero {
	background-image: url('../img/hero.jpg');
	background-repeat: no-repeat; /* evita que se repita la imagen */
	background-size: cover; /* adapta la imagen al espacio */
	height: 410px;
    padding: 20px; /* se baja el texto: el padding total da 40px */
}

/* el punto . es para las calses

   el # es para los ids


*/
